@font-face {
    font-family: 'instaquote_regular';
    src: url('/fonts/instaquote/InstaquoteMoonlitBoardwalk.eot') format('eot'),
         url('/fonts/instaquote/InstaquoteMoonlitBoardwalk.woff') format('woff'),
         url('/fonts/instaquote/InstaquoteMoonlitBoardwalk.ttf') format('ttf'),
         url('/fonts/instaquote/InstaquoteMoonlitBoardwalk.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
